<%= form_for record do |f| %>
	<% if @record.errors.any? %>
    	<div id="error_explanation">
      <h4><%= pluralize(record.errors.count, "error") %> prohibited this product from being saved:</h4>
      <ul>
      	<% record.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>



	<%= f.label "Types" %> <br>
	<%= f.collection_select :catagory_id, Catagory.all, :id, :kind, { promt: "Choose a Type" } %> <br>

  <%= f.label :period %>	<br>
  <%= f.date_select :period %> <br>

	<%= f.label :amount %> <br>
	<%= f.number_field :amount %> <br>

	<%= f.label :info %> <br>
	<%= f.text_field :info %> <br>

	<%= f.submit %>
<% end %>