<!DOCTYPE html>
<html>
  <head>
    <title>MyAccountBook</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,600,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'common/navbar' %>
  <div class="notice">
		<p><%= notice %></p>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <%= render 'common/footer' %>
  </body>
</html>
